<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到电梯控制器</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!--<script src={{url_for('static', filename="settle_state.js")}}></script>-->
    <script>
        $(document).ready(function() {
            var namespace = "/lifts";
            var server_url = 'http://' + document.domain + ':' + location.port + namespace;
            var socket = io.connect(server_url);

            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            var change_elevator_with_json = function (msg) {
                $('#lift' + msg['lift_number']+' .floor').html(msg["floor"]);
            } ;

            socket.on('lift arrived', function (json_var) {

            });
            // 电梯楼层更换
            socket.on('lift change', function (msg) {
                // change_elevator_with_json(msg);
                msg = JSON.parse(msg);
                $("#lift" + msg['lift_number'] + " .floor").html(msg["floor"]);
            });

            // 单个电梯的状态被更改了
            socket.on('lift status change', function (msg) {
                $("#lift" + msg["lift_number"] + " .status").html(msg["status"]);
            });

            // 电梯状态更换
            socket.on('lifts all', function (json_arr) {
                var jsArray = JSON.parse(json_arr);
                for (var msg in jsArray) {
                    change_elevator_with_json(msg);
                }
            });

            socket.on('floor button', function (json_var) {
                 var state_to_change = $("#floor"+json_var["floor"]+" ."+json_var["key"]);

                 if (json_var["light"] === true) {
                     if (json_var["key"] === "up") {
                         console.log("change to up");
                         state_to_change.html("⬆");
                     } else {
                         console.log("change to down");
                         state_to_change.html("⬇");
                     }
                 } else {
                    console.log("change to zero");
                    state_to_change.html("O");
                 }
            });

            socket.on('lift innertask', function (json_var) {
                var floor = json_var["lift number"];
                console.log(json_var["tasks"]);
                console.log("#lift"+floor+" .inner-job");
                console.log($("#lift"+floor+" .inner-job").html());
                $("#lift"+floor+" .inner-job").html(json_var["tasks"]);
            });

            // 网页关闭的时候准备做什么
            $(".submit_control").submit(function () {

                event.preventDefault();
                var cur_jq = $(this);
                var from_input = cur_jq.find('input[name="from"]');
                var go_from = from_input.val();
                from_input.val('');
                var go_input = cur_jq.find('input[name="to"]');
                var go_to = go_input.val();
                go_input.val('');
                // TODO: fill in this function

                socket.emit('add job', {
                    'from': go_from,
                    'to': go_to
                });
            });


            $("button.up-button").click(function () {
                event.preventDefault();

                var cur_jq = $(this);
                var floor_n = cur_jq.attr("floor");
                var text = $("#floor" + floor_n + " .up").html();
                if (text !== "⬆" && floor_n !== "20") {
                    socket.emit("click key", {
                        floor: floor_n,
                        direc: "up"
                    });
                }

            });

            $("button.down-button").click(function () {
                event.preventDefault();
                var cur_jq = $(this);
                var floor_n = cur_jq.attr("floor");
                console.log(floor_n);
                var text = $("#floor" + floor_n + " .down").html();
                if (text !== "⬇" && floor_n !== 0) {
                    socket.emit("click key", {
                        floor: floor_n,
                        direc: "down"
                    });
                }
            });

            $("button.inner-job").click(function () {
                event.preventDefault();

                var button_id = $(this).attr("id");
                var div_id = button_id.replace("inner_click", "");
                var inputs = $("#lift"+div_id).find('input[name="想按几楼嘞"]');
                var val = inputs.val();
                console.log(val);
                socket.emit("inner job", {
                    "lift_number": div_id,
                    "to": val
                });
                inputs.val('');
                // TODO: reset button

            });
        });
    </script>
</head>
<body>
    <h3>欢迎来到风之电梯调度系统</h3>
    <p id='test'> Hello </p>

    {% block lift %}
        <div class="lifts">
            {% for lift_id in lift_ids %}
                <div id="lift{{lift_id}}">
                    <!--楼层和-->
                    <span class="status">rest</span>
                    <span class="floor">1</span>楼
                    <input type="number" name="想按几楼嘞" min="1" max="20" />
                    <button id="inner_click{{ lift_id }}" class="inner-job">添加前往该楼</button>
                    <!--空白，用于添加内部任务-->
                    <span class="inner-job"></span>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    {% block floor_key %}
        <div class="keys">
            <p>控制按钮</p>
                <form class="submit_control">
                        <!--显示控制按钮-->
                    <p class="static_floor_message">楼层控制按钮</p>
                    to: <input type="number" min="1" max="20" name="to" />
                    from: <input type="number" min="1" max="20" name="from" />
                    <input type="submit" value="提交" />
                    <!--显示本层按钮内容-->
                </form>
            {% for key_id in key_ids %}

            <div id="floor{{key_id}}">
                <p>
                    第 {{ key_id }} 楼
                    <!--每层楼对应的固定的信息-->
                    <span class="up">O</span> <button class="up-button" floor="{{ key_id }}">向上</button>
                    <span class="down">O</span> <button class="down-button" floor="{{ key_id }}">向下</button>
                </p>
                    <!--提交移动请求的表单-->
                    <!--上行下行的按钮-->
            </div>
            {% endfor %}
        </div>

    {% endblock %}
</body>
</html>