<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到电梯控制器</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!--<script src={{url_for('static', filename="settle_state.js")}}></script>-->
    <script>
        $(document).ready(function() {
            var namespace = "/lifts";
            var server_url = 'http://' + document.domain + ':' + location.port + namespace;
            var socket = io.connect(server_url);
            
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            var change_elevator_with_json = function (msg) {
                $('#lift' + msg['lift_number']+' .floor').html(msg["floor"]);
            } ;

            socket.on('lift arrived', function (json_var) {

            });
            // 电梯楼层更换
            socket.on('lift change', function (msg) {
                // change_elevator_with_json(msg);
                msg = JSON.parse(msg);
                $("#lift" + msg['lift_number'] + " .floor").html(msg["floor"]);
            });

            // 单个电梯的状态被更改了
            socket.on('lift status change', function (msg) {
                $("#lift" + msg["lift_number"] + " .status").html(msg["status"]);
            });

            // 电梯状态更换
            socket.on('lifts all', function (json_arr) {
                var jsArray = JSON.parse(json_arr);
                for (var msg in jsArray) {
                    change_elevator_with_json(msg);
                }
            });
            // 网页关闭的时候准备做什么
            $(".submit_control").submit(function () {
                event.preventDefault();
                var cur_jq = $(this);
                var go_from = cur_jq.find('input[name="from"]').val();
                var go_to = cur_jq.find('input[name="to"]').val();
                // TODO: fill in this function

                socket.emit('add job', {
                    'from': go_from,
                    'to': go_to
                });
                cur_jq.reset();
            });


            $("button.up-button").click(function () {
                event.preventDefault();
                var cur_jq = $(this);
                var floor_n = cur_jq.attr("floor");
                var text = $("#floor" + floor_n + " .up").html();
                if (text !== "⬆" && floor_n !== "20") {
                    socket.emit("click key", {
                        floor: floor_n,
                        direc: "up"
                    });
                }

            });

            $("button.down-button").click(function () {
                event.preventDefault();
                var cur_jq = $(this);
                var floor_n = cur_jq.attr("floor");
                console.log(floor_n);
                var text = $("#floor" + floor_n + " .down").html();
                if (text !== "⬇" && floor_n !== 0) {
                    socket.emit("click key", {
                        floor: floor_n,
                        direc: "down"
                    });
                }
            });
        });
    </script>
</head>
<body>
    <h3>欢迎来到风之电梯调度系统</h3>
    <p id='test'> Hello </p>

    {% block lift %}
        <div class="lifts">
            {% for lift_id in lift_ids %}
                <div id="lift{{lift_id}}">
                    <!--楼层和-->
                    <span class="status">rest</span>
                    <span class="floor">1</span>楼
                    <input type="number" name="">
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    {% block floor_key %}
        <div class="keys">
            <p>控制按钮</p>
                <form class="submit_control">
                        <!--显示控制按钮-->
                    <p class="static_floor_message">楼层控制按钮</p>
                    to: <input type="text" name="to" />
                    from: <input type="text" name="from" />
                    <input type="submit" value="提交" />
                    <!--显示本层按钮内容-->
                </form>
            {% for key_id in key_ids %}

            <div id="floor{{key_id}}">
                <p>
                    第 {{ key_id }} 楼
                    <!--每层楼对应的固定的信息-->
                    <span class="up">O</span> <button class="up-button" floor="{{ key_id }}">向上</button>
                    <span class="down">O</span> <button class="down-button" floor="{{ key_id }}">向下</button>
                </p>
                    <!--提交移动请求的表单-->
                    <!--上行下行的按钮-->
            </div>
            {% endfor %}
        </div>

    {% endblock %}
</body>
</html>