<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到电梯控制器</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!--<script src={{url_for('static', filename="settle_state.js")}}></script>-->
    <script>
        $(document).ready(function() {
            var namespace = "/lifts";
            var server_url = 'http://' + document.domain + ':' + location.port + namespace;
            var socket = io.connect(server_url);

            $('#test').html('<p>' + server_url + '</p>');
            // console.log(server_url);
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });


            socket.on('message', function(msg){
                console.log(msg.time);
                $('#test').html('<p>' + msg.time + '</p>');
            });

            var change_elevator_with_json = function (msg) {
                var div_to_modify = $('#' + msg['lift_number']);
                var inner_searcher = $(div_to_modify);
                inner_searcher('.status').innerHTML = msg["status"];
                inner_searcher('.floor').innerHTML = msg["status"]
            } ;

            // 电梯楼层更换
            socket.on('lift change', function (json_var) {
                var msg = eval(json_var);
                change_elevator_with_json(msg);
            });

            // 电梯状态更换
            socket.on('lifts all', function (json_arr) {
                var jsArray = eval(json_arr);
                for (var msg in jsArray) {
                    change_elevator_with_json(msg);
                }
            });
            // 网页关闭的时候准备做什么

            $(".submit").onclick = function () {
                var cur_jq = $(this);
                // TODO: fill in this function
                // var data1 =

            };
        });


    </script>
</head>
<body>
    <h3>Demo-Flask-SocketIO</h3>
    <p id='test'> Hello </p>

    {% block lift %}
        <div class="lifts">
            {% for lift_id in lift_ids %}
                <div id="{{lift_id}}">
                    <!--楼层和-->
                    <span class="status">静止</span>
                    <span class="floor">1</span>楼
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    {% block floor_key %}
        <div class="keys">
            <p>控制按钮</p>
            {% for key_id in key_ids %}

            <div id="{{key_id}}">
                    <!--每层楼对应的固定的信息-->

                    <!--提交移动请求的表单-->
                    <form class="submit_controll">
                        <!--显示控制按钮-->
                        <span class="static_floor_message">第 {{key_id}} 楼</span>
                        <input type="checkbox" name="up_or_down" value="Up" />上行
                        <input type="checkbox" name="up_or_down" value="Down" />下行
                        <input type="submit" value="提交" />
                        <!--显示本层按钮内容-->
                        <span class="up">O</span>
                        <span class="down">O</span>
                    </form>
                    <!--上行下行的按钮-->


            </div>
            {% endfor %}
        </div>

    {% endblock %}
</body>
</html>