<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到电梯控制器</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.loli.net/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .lift-floor-badge {
            width: 30px;
        }

        .lift-state-badge {
            width: 40px;
        }

        .floor-number-badge {
            width: 50px;
        }
    </style>

    <!--<script src={{url_for('static', filename="settle_state.js")}}></script>-->
    <script>

        function status_to_ch(status_str) {
            if (status_str === "up") {
                return "⬆"
            } else if (status_str === "down") {
                return "⬇"
            } else {
                return "静止"
            }
        }
        $(document).ready(function() {
            var namespace = "/lifts";
            var server_url = 'http://' + document.domain + ':' + location.port + namespace;
            var socket = io.connect(server_url);

            socket.io.opts.transports = ['polling', 'websocket'];

            socket.emit('connect');

            var change_elevator_with_json = function (msg) {
                console.log("msg->" + msg);
                msg = JSON.parse(msg);
                $("#lift" + msg['lift_number'] + " .floor").html(msg["floor"]);

                lift_change_floor(parseInt(msg["lift_number"]), parseInt(msg["floor"]));
            } ;

            socket.on('lift arrived', function (json_var) {

            });
            // 电梯楼层更换
            socket.on('lift change', function (msg) {
                // change_elevator_with_json(msg);
                msg = JSON.parse(msg);
                var jq = $("#lift" + msg['lift_number'] + " .floor");
                // console.log(jq);
                jq.html(msg["floor"]);
                lift_change_floor(parseInt(msg["lift_number"]), parseInt(msg["floor"]));
            });

            // 单个电梯的状态被更改了
            socket.on('lift status change', function (msg) {
                $("#lift" + msg["lift_number"] + " .status").html(status_to_ch(msg["status"]));
            });

            // 电梯状态更换
            socket.on('lifts all', function (json_arr) {
                console.log("lifts all");

                var jsArray = JSON.parse(json_arr);
                // 主意这个！
                for (var msg in jsArray) {
                    change_elevator_with_json(jsArray[msg]);
                }
            });

            socket.on('floor button', function (json_var) {

                 var if_light = json_var["light"];
                 var rm_class, added_class;
                 if (if_light) {
                     rm_class = "btn-primary";
                     added_class = "btn-secondary";
                 } else {
                     rm_class = "btn-secondary";
                     added_class = "btn-primary";
                 }
                 if (json_var["key"] === "up") {
                     console.log("change to up");
                     // state_to_change.html(up_str);
                     var up_button = $("#floor"+json_var["floor"]+" .up-button");
                     up_button.removeClass(rm_class);
                     up_button.addClass(added_class);


                 } else {
                     // console.log("change to down");
                     var up_button = $("#floor"+json_var["floor"]+" .down-button");
                     up_button.removeClass(rm_class);
                     up_button.addClass(added_class);
                 }

            });

            function clear_dangerous(lift_id, floor_id) {
                if (floor_id > 20 || floor_id < 1) {
                    return
                }
                var curButton = $(`[lift-id=${lift_id}] [floor-id=${floor_id}]`);
                if (curButton.hasClass("btn-danger")) {
                    curButton.removeClass("btn-danger");
                    curButton.addClass("btn-light");
                }
            }

            function lift_change_floor(lift_id, floor_id) {
                var curButton = $(`[lift-id=${lift_id}] [floor-id=${floor_id}]`);
                // console.log("change: ", curButton);
                if (curButton.hasClass("btn-light")) {
                    curButton.removeClass("btn-light");
                }
                if (curButton.hasClass("btn-secondary")) {
                    curButton.removeClass("btn-secondary");
                }
                curButton.addClass("btn-danger");
                clear_dangerous(lift_id, floor_id + 1);
                clear_dangerous(lift_id, floor_id - 1);
            }

            socket.on('lift innertask', function (json_var) {
                var lift = json_var["lift number"];
                // var floor = json_var["floor"];
                const set1 = new Set(json_var["tasks"]);
                console.log("recv inner task with ", lift, " and ", set1);
                for (var i = 1; i <= 20; i++) {
                    var curButton = $(`[lift-id=${lift}] [floor-id=${i}]`);
                    if (set1.has(i)) {
                        if (!curButton.hasClass("btn-danger") && !curButton.hasClass("btn-secondary")) {
                            curButton.removeClass("btn-light");
                            curButton.addClass("btn-secondary");
                        }
                    } else {
                        if (!curButton.hasClass("btn-danger")) {
                            if (curButton.hasClass("btn-secondary")) {
                                curButton.removeClass("btn-secondary");
                                curButton.addClass("btn-light");
                            }
                        }
                    }

                }
            });

            // 网页关闭的时候准备做什么
            $(".submit_control").submit(function () {

                event.preventDefault();
                var cur_jq = $(this);
                var from_input = cur_jq.find('input[name="from"]');
                var go_from = from_input.val();
                from_input.val('');
                var go_input = cur_jq.find('input[name="to"]');
                var go_to = go_input.val();
                go_input.val('');
                // TODO: fill in this function

                socket.emit('add job', {
                    'from': go_from,
                    'to': go_to
                });
            });

            $("button.inner-lift").click(function () {
                event.preventDefault();
                {#console.log("Clicked!");#}
                var cur_jq = $(this);
                var lift_id = cur_jq.parent().parent().attr("lift-id");
                {#console.log("liftID: ", lift_id);#}
                socket.emit("inner job", {
                    "lift_number": parseInt(lift_id),
                    "to": parseInt(cur_jq.html())
                });
            });

            $("button.up-button").click(function () {
                event.preventDefault();
                // console.log("按了上了，狗屎");
                var cur_jq = $(this);
                var floor_n = cur_jq.attr("floor");
                var text = $("#floor" + floor_n + " .up").html();
                var i_value = parseInt(floor_n);
                if (text !== "⬆" && i_value < 20 && i_value >= 1) {
                    var send_dict =  {
                        floor: floor_n,
                        direc: "up"
                    };
                    socket.emit("outer job", send_dict);
                    // console.log(send_dict);
                }

            });

            $("button.down-button").click(function () {
                event.preventDefault();
                // console.log("按了下了，狗屎");
                var cur_jq = $(this);
                var floor_n = cur_jq.attr("floor");
                var text = $("#floor" + floor_n + " .down").html();
                var i_value = parseInt(floor_n);
                if (text !== "⬇" && i_value > 0 && i_value <= 20) {
                    var send_dict = {
                        floor: floor_n,
                        direc: "down"
                    };
                    socket.emit("outer job", send_dict);
                    {#console.log(send_dict);#}
                }
            });

            $("button.inner-job").click(function () {
                event.preventDefault();
                var cur_jq = $(this);
                var button_id = cur_jq.attr("id");
                var div_id = button_id.replace("inner_click", "");
                var inputs = $("#lift"+div_id).find('input[name="想按几楼嘞"]');
                {#console.log(inputs);#}
                var val = inputs.val();
                var i_val = parseInt(val);
                if (i_val <= 20 && i_val >= 0) {
                    socket.emit("inner job", {
                        "lift_number": div_id,
                        "to": val
                    });
                }

                inputs.val('');

            });
        });
    </script>
</head>
<body>
    <h3>欢迎来到风之电梯调度系统</h3>

    <div class="alert alert-primary" role="alert">
        下列是每台电梯的内部按钮
    </div>

    {% for i in range(1, 6) %}
        <div class="btn-toolbar mr-3" role="toolbar" aria-label="Toolbar with button groups" lift-id="{{ i }}">
            {% for j in range(1, 5) %}
                <div class="btn-group mr-2" role="group" aria-label="{{ j }} ">
                    {% for y in range(1, 6) %}
                        <button class="btn btn-light inner-lift" type="button" floor-id="{{ (j - 1) * 5 + y }}">
                            {{ (j - 1) * 5 + y }}
                        </button>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}


    <br />
    <br />
    <div class="alert alert-primary" role="alert">
        下列是每台电梯状态显示，任务添加
    </div>
    {% block lift %}
        <div class="lifts">
            {% for lift_id in lift_ids %}
                <div id="lift{{lift_id}}">
                    <!--楼层和-->
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <span class="status badge badge-secondary mr-2 lift-state-badge">静止</span>
                            <span class="floor badge badge-secondary mr-2 lift-floor-badge">1</span>楼
                        </div>
                        <label for="staticEmail2" class="sr-only">添加前往你在表单中填写的楼层</label>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="number" name="想按几楼嘞" min="1" max="20" class="form-control" placeholder="楼层">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 inner-job" id="inner_click{{ lift_id }}">走，去这楼</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

    <br>
    <br>

    {% block floor_key %}
        <div class="keys">
            <div class="alert alert-primary" role="alert">
                下列是每层楼的电梯控制按钮
            </div>

            <form class="submit_control">
                    <!--显示控制按钮-->
                <p class="static_floor_message">楼层控制按钮</p>
                to: <input type="number" min="1" max="20" name="to" />
                from: <input type="number" min="1" max="20" name="from" />
                <input type="submit" value="提交" />
                <!--显示本层按钮内容-->
            </form>

            {% for key_id in range(1, 5) %}
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    {% for j in range(1, 6) %}
                        <div id="floor{{ (key_id - 1) * 5 + j }}">

                            <span class="badge badge-dark floor-number-badge"> 第 {{ (key_id - 1) * 5 + j }} 楼 </span>
                            <!--每层楼对应的固定的信息-->
                            <button class="btn btn-primary mb-2 up-button" floor="{{ (key_id - 1) * 5 + j }}">向上</button>
                            <button class="btn btn-primary mb-2 down-button" floor="{{ (key_id - 1) * 5 + j }}">向下</button>
                            <!--提交移动请求的表单-->
                            <!--上行下行的按钮-->
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>

    {% endblock %}
</body>
</html>